{% extends 'base.html' %}

{% block head %}

<title>Item tracker</title>
<div align="center">
    <h1>K70 laboratory garment tracker</h1>
</div>

{% endblock %}

{% block body %}
<form>
    <div>
        <label for='barcode'>Barcode: </label>
        <input id="barcode" name="barcode" type="text">
        <br>
        <input value='Search' type="submit">
        <table id="info">
            <thead>
                <tr>
                    <td>Barcode</td>
                    <td>Suite Type</td>
                    <td>Size</td>
                    <td>Outgoing</td>
                </tr>
            </thead>
        </table>

        <ul>
            <li>Search</li>
            <li>Enter New Item</li>
            <li>Incoming/Outgoing Item</li>
            <li>Leave a Note for an Item</li>
        </ul>
    </div>
</form>

{% endblock %}

{% block footer %}
<div>
    <p>Contact ykim@gw-semi.com for any item_tracker related issue</p>
</div>
{% endblock %}

