{% extends 'base.html' %}

{% block head %}

<title>Item tracker</title>
<h1>K70 laboratory garment tracker</h1>


{% endblock %}

{% block body %}
<form>
    <div align="center">
        <label for='barcode'>Barcode: </label>
        <input id="barcode" name="barcode" type="text">
        <br>
        <input value='Search' type="submit">
        <table id="info">
            <thead>
                <tr>
                    <td>Barcode</td>
                    <td>Suite Type</td>
                    <td>Size</td>
                </tr>
            </thead>
        </table>

        <ul>
            <li>Search</li>
            <li>Enter New Item</li>
            <li>Incoming/Outgoing Item</li>
            <li>Leave a Note for an Item</li>
        </ul>
    </div>
</form>

{% endblock %}

{% block footer %}

<p>Contact ykim@gw-semi.com for any item_tracker related issue</p>

{% endblock %}

